body {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', 'Arial Black', sans-serif, "Calibri Grande", sans-serif;
    color: #ea4015;
/*    background-color: #D2E1E6;*/
/*       background: url(../img/hg.png) no-repeat;
      background-size: 100%; */
}

p{
/* padding: 0.5%;*/
 /* left: 7.5%; */
 font-style: bold;
 font-family: monospace;
/*  font-size: 60px; */
 position: relative;
 color: #F7F734;

}

span {
    /*font-family: cursive;
    top: 20%;
    position: relative;
/*    left: 5%;*/
     margin: 1%; 
}

#center {
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    width: 100%;
    /* background-color: #b0e0e6; */
}

#wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#picturebox {
/*    margin: 15px 0 0 0;*/
    padding: 0;
    height: 450px;
    position: relative;
    top: 25px;
    width: 80%;
    background-color: #FFF, transparent 20;
    /* border-radius: 8px; */
    margin: 0 auto;
/*     overflow-y: auto;
    overflow-x: hidden; */
}

#pics {
    padding: 0;
    height: 450px;
    right: -10%;
    position: relative;
    width: 50%;
    background-color: #FFF, transparent 20;
    /* border-radius: 8px; */
    margin: 0 auto;
    
}

#headbox {
    top: 70px;
    position: relative;
    height: 70px;
    background-color: #FFF;
    border-radius: 8px;
    margin: 0 auto;
    background-image: url(../images/IMG_4168.JPG);
	text-align: center;
}

#footer {
    /* top: 100px; */
    position: relative;
    height: 50px;
/*     background-color: #000000;
    border-radius: 8px; */
    margin: 0 auto;
    text-align: center;
    color: #F7F734;
/*     overflow-y: auto;
    overflow-x: hidden; */

}

#badge {
    max-height: 40%;
    position: relative;
}

#image {
/*    margin: 15px 0 0 0;*/
    padding: 0;
/*    height:*/
    position: relative;
/*    top: 150px;*/
    max-height: 100%;
    max-width: 100%;
    background-color: #FFF;
    margin: 0 auto;
} 

#nav {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    height: 15px;
    position: relative;               
    top: 2%;               
    width: 100%;               
    max-width: 1000px;

}

    #nav li {
    width: 19.8%;
    margin-left: 0.2%;
    float: left;
    text-align: center;
    display: inline;

}

#nav li a {
    display: block;
    padding: 0.5em 5px;
    text-decoration: none;
/*    font-weight: bold;*/
    color: #ea4015;
    border-radius: 8px;
    border-color: #4fcfdd;
    border: 1px;
/*    -webkit-box-shadow: 3px 3px 3px rgba(51,51,51,0.3);*/
/*    box-shadow: 3px 3px 3px rgba(51,51,51,0.3);*/
}
#nav a:link, #nav a:visited {
    background-color: #535256;
}
#nav a:hover, #nav a:active, #nav a:focus {
    background-color: #b0c4de;
}

.floatleft {
    float: left;
    margin: 5% 10px 3px 5%;
}

.floatright {
    float: right;
    margin: 5% 10px 3px 5%;
}

.figure {
    width: 30%;
}
.figure img {
    max-width: 100%;
}

.shadow {
/*    -webkit-box-shadow: 3px 3px 3px rgba(51,51,51,0.3);*/
    box-shadow: 10px 10px 10px rgba(0,256,256,0.1);
}
